name: NestJS CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'

    - name: Install dependencies
      run: npm ci # Usa 'ci' en lugar de 'install' para entornos de CI, es m치s r치pido y exacto

    - name: Lint check
      run: npm run lint # Verifica que el c칩digo siga tus reglas de estilo

    - name: Build project
      run: npm run build # Asegura que NestJS pueda compilar sin errores de TypeScript

    - name: Run unit tests
      run: npm run test # Ejecuta Jest

    - name: Run e2e tests
      run: npm run test:e2e # Ejecuta tus tests de integraci칩n